@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(idroid.otf);}
    
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,700;1,700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
   

   :root {
  --cor0:  #c5ebd6;
  --cor1:  #3ddc84;
   --cor2: #2fa866;
   --cor3: #1a5c37;
   --cor4: #063d1e;
   --fonte-padrao: arial, verdana, helvetica, sans-serif
   --fonte-destaque:"Bebas Neue", sans-serif;
   }
   *{
margin: 0px;
padding: 0px;

   }
body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}
main p{
    margin: 15px 0px;
    text-align: justify;
}
header{
  background-image: linear-gradient(to bottom, var(--cor1), var(--cor4) ) ;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{ color: white ;
    font-family: "Bebas Neue";
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
    
}
header > p {

    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em ;
    max-width: 500px;
    margin: auto;
     text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
}
nav{

    background-color: var(--cor4);
    padding: 10px ;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.603);
   text-decoration: none ;
}
nav > a {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
    font-weight: bold ;
    text-decoration: none ;
    border-radius: 5px;
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    transition-duration: 0.5s ;

}
main{
    background-color: white ;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
  
    margin:auto;



}
img{

    width: 100%;
}
main h1{
color:var(--cor4) ;
font-family: "idroid";

}
main h2 {
    font-family: "idroid";
    background-image:linear-gradient( to right, var(--cor1) , transparent );
    text-indent: 6px;

}
main p {
     margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong {
    color: var(--cor3);
   
    font-weight: bold;
    padding: 2px 6px;
} 
main a {
    text-decoration: none;
    font-weight:bold ;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor2);

}
div.video {
    background-color: var(--cor4);

    margin: 0px -20px 30px -20px;
    padding: 20px;
    position:relative;
    padding-bottom: 59%;

    
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width:90% ;
    height:90% ;

}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.404);
    ul{
        list-style-position: inside;
        columns: 2;
        list-style-type:'\2714\00A0\00A0' ;
       

    }
    h3{
        color: white;
        background-color: var(--cor4);
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px;
    }
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size:0.8em ;
    padding: 5px;

 
}
footer a {

    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {

    text-decoration: underline;
    color: var(--cor1);
}